body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 2px solid;
    height: 100vh;
    background-color: #317874;
}
h1{
    text-align: center;
    font-size: 2rem;
    color: #317874;
}
section{
    background-color: #e2d2f9;
    width: fit-content;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:545px) {
    section{
        margin: 1rem;
        padding: 1rem;
    }
    select{
        width: 30%;
    }
    #input{
        width: 50%;
    }
    #result{
        width: 50%;
    }

}
.divinput{
    display: flex;
    justify-content: center;
    align-items: center;
}
#input{
    text-align: center;
    padding: .5rem;
    margin: 1rem;
}
#result{
    text-align: center;
    pointer-events: none;
    padding: .5rem;
    margin: 1rem;
}
input[type="number"]:disabled
{
    opacity:1;
}
select{
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    color: #fff;
    padding: .2rem;
    background-color: #317874;
}
option{
    width: inherit;
}